[project]
	description = Display on-screen notifications alerting users when viewing matching web application environments.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Nathan White (comfroels)
[access "refs/for/refs/*"]
	read = group user/Nathan White (comfroels)
	push = group user/Nathan White (comfroels)
	label-Code-Review = -2..+2 group user/Nathan White (comfroels)
	label-Verified = -1..+1 group user/Nathan White (comfroels)
	rebase = group user/Nathan White (comfroels)
	removeReviewer = group user/Nathan White (comfroels)
	submit = group user/Nathan White (comfroels)
[access "refs/heads/*"]
	read = group user/Nathan White (comfroels)
	create = group user/Nathan White (comfroels)
	push = +force group user/Nathan White (comfroels)
	pushMerge = group user/Nathan White (comfroels)
[access "refs/tags/*"]
	push = group user/Nathan White (comfroels)
	push = +force group user/Nathan White (comfroels)
